body {
    background-color: aqua;
}



#model::backdrop {
    background-color: rgb(139, 135, 135);
    opacity: 0.8;
}

#model {
    max-width: 30%;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;


}